package ui

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/static/css/style.css"/>
			<title>Court Counsel Templates</title>
		</head>
		<body class="bg-background">
			<main class="w-full p-8 overflow-y-auto">
				{ children... }
			</main>
		</body>
	</html>
}
