package ui

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
		</head>
		<body
			class="flex flex-col items-center min-h-screen overflow-x-hidden bg-taupe-400 font-sans
    text-taupe-900 antialiased dark:bg-taupe-800 dark:text-taupe-50"
		>
			<header class="flex p-4 bg-taupe-200 font-serif dark:bg-taupe-500">Court Counsel Templates</header>
			{ children... }
		</body>
	</html>
}
